@import "../App.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 150px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 450px;
  height: 300px;
}

.right-content {
  position: fixed;
  right: 0;
}

.title {
  color: $very-dark-blue;
  font-family: $primary-font;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
}

.subtitle {
  color: $grayish-blue;
  font-family: $primary-font;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: left;
}

.links {
  display: flex;
  margin-top: 24px;
}

.button {
  -webkit-box-shadow: 0px 2px 5px 2px $soft-blue-shadow; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 5px 2px $soft-blue-shadow; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 5px 2px $soft-blue-shadow; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 5px;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: -12px;
  text-decoration: none;
  padding: 14px 18px;
  margin-right: 15px;

  &.chrome {
    background-color: $soft-blue;
    color: white;
  }

  &.firefox {
    background-color: rgba(240, 240, 240, 0.7);
    color: #555;
  }
}

.blue-shape {
  background-color: $soft-blue;
  width: 700px;
  height: 300px;
  position: relative;
  right: -30%;
  top: 80px;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
}

.image {
  z-index: 2;
  position: relative;
  top: -360px;
  width: 600px;
}
