@import "../App.scss";

.container {
  display: flex;
  justify-content: space-between;
}

.link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 450px;
}

.link {
  color: $very-dark-blue;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  height: 25px;
}

.login {
  -webkit-box-shadow: 0px 2px 5px 2px $soft-blue-shadow; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 2px 5px 2px $soft-blue-shadow; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 2px 5px 2px $soft-blue-shadow; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  background-color: $soft-red;
  border-radius: 5px;
  color: white;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: -12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 32px;
}
