@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$primary-font: "Rubik";

// Colors

// Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-blue-shadow: hsla(231, 69%, 60%, 0.2);
$soft-red: hsl(0, 94%, 66%);

// Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

.App {
  text-align: center;
  margin: 40px 10% 0;
}

:export {
  softBlue: $soft-blue;
  softRed: $soft-red;
  grayishBlue: $grayish-blue;
  veryDarkBlue: $very-dark-blue;
}
